* {
    margin: 0;
    padding: 0;
}

:root {
    --bs-bg-opacity: 1;
    --bs-dark-rgb: 33, 37, 41;
}

@media(max-width: 992px) {
    body,
    header {
        position: initial;
        right: 0;
        width: initial;
        height: initial;
    }
}


/* md */

@media(max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}


/* XS Portrait */

@media screen and (max-width: 639.98px) {}

@media (max-width: 479.98px) {}

@media (max-width: 410px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}